@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.eot"); /* IE9 Compat Modes */
  src: url("../fonts/vazir.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/vazir.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/vazir.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: "vazir";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

section video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .navigation {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: center;
  list-style: none ;
}

section .navigation li {
  width: 210px;
  height: 120px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;


}

section .navigation li img {
  width: 200px;
  height: 110px;
  opacity: 0.8;
}

section .navigation li img:hover {
  opacity: 1;
}
